<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>techBlog!</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="/css/styles.css">
</head>



<body>

  
   <section class="home">
    <nav>
      <h1 class="home-header">techBlog()</h1>
        <ul class="nav nav-tabs nav-tabs-overwrite">
        {{#if logged_in}}
        <li><a class="nav-item nav-item-overwrite" href="/">home</a></li> 
        <li><a class="nav-item nav-item-overwrite" href="/profile">profile</a></li>
        <li><button class="nav-item nav-item-overwrite" id="logout">logout</button></li>
         {{else}}
        <li><a class="nav-item nav-item-overwrite" href="/">home</a></li> 
        <li><a class="nav-item nav-item-overwrite" href="/login">login</a></li> 
        </ul>
         {{/if}}
    </nav>
       {{!-- logout-btn btn-block--primary  --}}
        
        
  
    {{!-- <a href = "/profile">profile</a> --}}
    {{!-- <nav>
      <h1 class="home-header">techBlog()</h1>
        <ul class="nav nav-tabs nav-tabs-overwrite">
        <li><a class="nav-item nav-item-overwrite" href="/">home</a></li> 
        <li><a class="nav-item nav-item-overwrite" href="/login">login</a></li> 
        <li><a  class="nav-item nav-item-overwrite" href="/signup">signup</a></li> 
        </ul>
    </nav> --}}
 </section>
       
<main>
{{{body}}}
</main>

 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>