<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>techBlog!</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="/css/styles.css">
</head>



<body>

   {{#if logged_in}}
   <section class="home">
    <nav class="gray-theme navbar-custom">
      <h1 class="homepage-title pink-text">techBlog</h1>
        <ul class="nav nav-tabs">
        <li class="nav-item"><a href="/">Home</a></li> 
        <li class="nav-item"><a href="/profile">Profile</a></li>
        <li class="nav-item"><button class="logout-btn btn-block--primary" id="logout">Logout</button></li>
        </ul>
    </nav>
       
        {{else}}
  
    {{!-- <a href = "/profile">profile</a> --}}
    <nav>
      <h1>techBlog</h1>
        <ul class="nav nav-tabs nav-tabs-overwrite">
        <li><a class="nav-item nav-item-overwrite" href="/">home</a></li> 
        <li><a class="nav-item nav-item-overwrite" href="/login">login</a></li> 
        <li><a  class="nav-item nav-item-overwrite" href="/signup">signup</a></li> 
        </ul>
    </nav>
 </section>
        {{/if}}
<main>
{{{body}}}
</main>

 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>