<div class="edit-page">
{{> post-info post}}


<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>


{{> comments post.comments}}
</div>

<script src="/js/comment.js"></script>