:root {
    --primary-color: #233554
}

body {
    font-family: monospace;
    background-color: var(--primary-color);
    color: white;
}

/* homepage styling */
/* using bootstrap for navbar, overwriting for slight stylistic changes */

.nav-tabs-overwrite {
    text-align: right !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
}

.nav-item-overwrite {
    margin-right: 20px !important;
    color: white
}

.nav-item-overwrite:hover {
    color: #64ffda !important;
}

.home-header {
    margin-left: 15px
}

.post-body {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-inline-start: 0px !important;
    text-align: center !important;
}

#logout {
    margin-bottom: 5px;
    color: black
}

/* login form stlying */

.login-form {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-inline-start: 0px !important;
    text-align: center !important;
}

#password-login {
    margin-right: 25px
}

/* sign-up form styling */

.signup-form {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-inline-start: 0px !important;
    text-align: center !important;
}

#username-signup {
    margin-right: 25px;
}

#password-signup {
    margin-right: 25px
}

/* profile styling */

.profile-body {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-inline-start: 0px !important;
    text-align: center !important;
}

/* single post styling */

.edit-page{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center !important;
}

.profile-post-list {
    margin-right: 70px
}

/* create post styling */

.newpost {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center !important; 
}

.create-btn {
    color:#64ffda
}

/* edit page styling */

.edit-page {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center !important;   
}